<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <connectionStrings>
	  <!--<add name="ConexaoPrincipal"
         connectionString="xxx"
         providerName="System.Data.SqlClient"
         />-->
	  
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Acesso.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
